*{
  margin:0 auto;
  padding: 0;
} 


body {
    background:  #add0facb;
}
img {
  margin-top: 4%;
  height: 38%;
}

input,select {
    display: block;
    padding: 10px; 
    color : #414141;
}
select {
  width: 38%;
  display: block;
  margin-bottom: 4%;
 
}


 h1 {
  color: #fefeff;
  font-family: auto;
  font-size: 33px;
  margin: 22px;
}
.borde {
  text-align: center;
  margin-top: 40px;
  background: linear-gradient(to bottom, #6d88ffea 0%, #001f2e 100%);
  border: 0px solid #2920ac;
  width: 37%;
  border-radius: 4%;
  height: 464px;
  display: block;
  box-shadow: 3px 3px 12px rgb(65, 65, 65);
}


 form {
    display: block;
    color: white;
    font-size: larger;
    font-family: 'calibri';
 }

button, #next, #validar {
   text-decoration: none;
    background-color: #5662b9;
    height: 12%;
    width: 23%;
    border-radius: 12%;
    border: 0px solid #1d1f78;
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
} 
button:hover {
  color: #0016b0;
  background-color: #929ad3;
   }
#next:hover{
  color: #0016b0;
  background-color: #929ad3;
   }
#validar:hover {
  color: #0016b0;
  background-color: #929ad3;
   }
p {
  color: white;
    font-size: larger;
    font-family: 'calibri';
}

h2 {
  color: #ffffff;
  font: 150% sans-serif;
  font-family: 'arial';
  font-size: 32px;
  margin: 13px;
}

