*{
    margin:0 auto;
    padding: 0;
  } 


  body {
      background:  #6ba1e4;
  }
  img {
    height: 24%;
  }

  input {
      display: block;
      padding: 10px;
      
    
  }
   h1 {
    color: #fefeff;
    font-family: auto;
    font-size: 33px;
    margin: 22px;
  }
  .borde {
    text-align: center;
    margin-top: 40px;
    background: linear-gradient(to bottom, #463aff 0%, #05102b 100%);
    border: 5px solid #2920ac;
    width: 37%;
    border-radius: 4%;
    height: 464px;
    display: block;
  }
  

   form {
      display: block;
      color: white;
      font-size: larger;
      font-family: 'calibri';
   }
  
  button, #next, #validar {
      background: #5252b7;
      height: 12%;
      width: 23%;
      border-radius: 10%;
      color: white;
  } 
   
  p {
    color: white;
      font-size: larger;
      font-family: 'calibri';
  }

h2 {
    color: #ffffff;
    font-family: auto;
    font-size: 36px;
    margin: 13px;
}

